-# game
  stat_type

:ruby
  options = {
    controller: 'stats',
    action: 'create',
    game_id: game.id,
    type: stat_type
  }
  html_options = {
    class: 'btn btn-block btn-outline-primary stat-trigger text-uppercase',
    remote: true
  }
= button_to stat_type.to_s.underscore.humanize, options, html_options
