-# game

.row.mt-4.justify-content-center
  .col-sm-6
    .card
      %h5.card-header
        = 'Stat Totals'
      .card-body
        %ul.list-group.list-group-flush
          - %w[points offensive_rebounds defensive_rebounds assists steals blocks turnovers fouls].each do |stat|
            %li.list-group-item.d-flex.justify-content-between.align-items-center
              = stat.humanize.split.map(&:capitalize).join(' ')
              %span.badge.badge-primary.badge-pill
                = game.send("#{stat}_total")
