-# game
  stat_type

:ruby
  options = {
    controller: 'stats',
    action: 'create',
    game_id: game.id,
    type: stat_type
  }
  html_options = {
    class: 'stat-trigger'
  }
= button_to stat_type.to_s, options, html_options
