-# account
  game
  game_stats

.row.mt-4.justify-content-center
  .col-sm-6
    .card
      %h5.card-header
        Stats Timeline
      .card-body
        %ul.list-group.list-group-flush#stats_timeline
          - game_stats.each do |stat|
            = render partial: 'stat_details_entry', locals: { account: account, game: game, stat: stat }
