-# game
  game_stats

.row.mt-4.justify-content-center
  .col-sm-6
    .card
      %h5.card-header
        Stats Timeline
      .card-body
        %ul.list-group.list-group-flush
          - game_stats.each do |stat|
            %li.list-group-item.d-flex.justify-content-between.align-items-center
              = stat.class.to_s.underscore.humanize.split.map(&:capitalize).join(' ')
              - unless game.completed
                %span
                  :ruby
                    path = game_stat_path(game_id: game.id, id: stat.id)
                    options = {
                      method: :delete,
                      data: {
                        confirm: 'Are you sure?'
                      },
                      class: 'btn btn-outline-danger'
                    }
                  = link_to 'Destroy', path, options
