.stat-trigger {
  font-size: 1.2em;
  padding: 1em 2.4em;

  // Undo the crap that browsers try to handle on their own
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   border-radius: 0;
}
