.stat-trigger {
  background: #008CBA;
  color: white;
  font-size: 1.2em;
  padding: 1em 2.4em;
  text-align: center;
  width: 100%;

  // Undo the crap that browsers try to handle on their own
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   border-radius: 0;
}
